@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #171717; /* Set background to black to help identify the white space */
  }
  